h1.intro{
  width: 50%;
  font-style: italic;
  color: red;
}
p.chief{
  color: blue;
  font-style:italic;
  width: 80%;
  font-weight: bold;
}

ul{
  font-style: normal;
  font-weight: Bold;
  color: Gray;
}
.flashy{
  color: red;
  font-style: italic;
}
.best{
  color: Blue;
  font-style: italic; Bold;

}
